<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity">
<!-- 	<listeners>
		<listener class-name="supportLiberaries.ExtentReporterNG" />
	</listeners> -->

	<test name="Test-Chrome" preserve-order="true">
		<classes>
			<class name="testScripts.FREE_CRM.TC_02_Login_FreeCRM_HomePage" />
			<class name="testScripts.TWITTER.TC_06_POST_Create_Place" />
			<class name="testScripts.TWITTER.TC_11_GET_Twitter_oAuth_Latest_Tweet" />
			<class name="testScripts.TWITTER.TC_04_Login_Twitter_Checking_Headers" />
		</classes>
	</test>
</suite>